{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Sign up or Log in to view Weather Top App </p>
</section>
<img class="ui image" src="https://cdn.glitch.com/7a537a3b-3d0b-4d9a-8ef3-951f3bb0d3b2%2FGareth%20Thomas%20%E2%80%94%20Amazing%20magenta%20skies%20after%20sunset%20tonight%20at%20the%20Deer%20Park.jpg?v=1631309325160">