{{> welcomemenu id='login' }}

<form class="ui stacked segment form" action="/authenticate" method="POST">
  <h3 class="ui header">Log-in</h3>
  <div class="field">
    <label>Email</label> <input placeholder="Email" name="email">
  </div>
  <div class="field">
    <label>Password</label> <input type="password" name="password">
  </div>
  <button class="ui blue submit button">Login</button>
</form>

<img class="ui image"
     src="https://cdn.glitch.com/7a537a3b-3d0b-4d9a-8ef3-951f3bb0d3b2%2FGareth%20Thomas%20%E2%80%94%20Amazing%20magenta%20skies%20after%20sunset%20tonight%20at%20the%20Deer%20Park.jpg?v=1631309325160">